    <ul class="list-group">
        <li (click)="setAllColors()" [class]=getAllColorsClass() routerLink="/colors">
            All Colors
        </li>
        <li (click)="setCurrentColor(color)" 
        routerLink="/cars/color/{{color.id}}" *ngFor="let color of colors"
        [class]="getCurrentColorClass(color)">
            {{color.colorName}}
        </li>
    </ul>

    <h5 *ngIf="currentColor">{{currentColor.colorName}} was selected</h5>
    <h5 *ngIf="!currentColor">All colors was selected</h5>