    <div *ngIf="colorDataLoaded==false" class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
    </div>

    <table *ngIf="colorDataLoaded ==true" class="table">
        <thead>
            <tr>
                <th scope="col">Color Id</th>
                <th scope="col">Color Name</th>
            </tr>
        </thead>
        <tr *ngFor="let color of colors">
            <td>{{color.id}}</td>
            <td>{{color.colorName}}</td>
        </tr>
    </table>